/* You can add global styles to this file, and also import other style files */

@import '~normalize.css/normalize.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/fonts/material-icons/material-icons.css';


body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

mat-sidenav.app-sidenav mat-list > .mat-list-item{
    height: 44px;
}


@media only screen and (min-width: 601px) {
    mat-sidenav.app-sidenav mat-list-item.mat-list-item > div{
        padding-left: 38px !important;
    }
}